body{
    background-image: url(images/home-video-thumb-1.jpg);
    
    background-size:cover ;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    background-color:#333;
    margin-top: 0%;
    
    border: 2px solid black;
}
.logo img{
  max-height: 60px;
}
.submenu{
    display: none;
    position:absolute;
    background-color: rgba(55, 57, 58, 0.774);;
    list-style: none;
    padding:10px;
    border: 2px;
    border-radius: 15px;
}
.menu{
    display: flex;
    list-style: none;
    padding: 10px;
    background-color: rgba(57, 62, 63, 0.5);
    margin: 0;
}
.menu li{
    margin-left: 20px;
}
.menu a{
    color:white;
    text-decoration: none;
}
.dropdown:hover .submenu{
    display: block;
}
.submenu li{
    margin: 5px 0;

}
li a:hover{
    background-color: white;
    color:rgba(58, 57, 57, 0.377)
}

.aboutnit{
    padding:20px;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(53, 50, 50, 0.562);
    border: 4px solid black;
    border-radius: 40px;
    margin: 30px;
}
footer{
    background-color: rgba(47,41,139,255);
    height: 90px;
padding: 4px;;
    margin:0;
}